html, body {
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0%;
}

body {
    background-color: #082f49;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.item, .grid-item {
    color: #eee;
    font-size: 2rem;
    border: 1px solid #eee;
    width: 100px;
    height: 45px;
    background: #075985;
    text-align: center;
}



/* Grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer"
    ;
    height: 100%;
    border: 2px dashed black;
}

.grid-item {
    width: auto;
    height: auto;
}

.item-a {
    grid-area: header;
}

.item-b {
    grid-area: main;
}

.item-c {
    grid-area: sidebar;
}

.item-d {
    grid-area: footer;
}
